/*.App {

    font-size: calc(10px + 1vmin);
      min-height: 100vh;
        color: #333;
          background-color: hsl(0, 0%, 95%);
            display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;

}*/

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;*/
/*  height: 40vmin;
}

.App-header {*/
 /* background-color: #282c34;*/


/*  display: grid;
  flex-direction: column;
  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);

}*/

/*.App-link {
  color: #61dafb;
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
@import '_colors';

h1 {
   color: hsl(200, 100%, 15%);
  letter-spacing: 1px;
  font-size: calc(1em + 1vmax);
  font-weight: 200;
  min-height: 50px;
  margin: 0;
  //display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
}

.App { 
  > header {
    background-color: $primaryColor;
    width: 100%;
    @media all and(max-width: 960px){
      height: 45vmin;
    }
    height: 35vmin;
    //max-height: 400px;
    display: grid;
    box-sizing: border-box;
   justify-items: center;
   // justify-content: center;
    align-items: end;
    position: relative;
     bottom: 0;
   // z-index: 1;
    padding-bottom: 8vmin;

    > .image {
      height: 20vmin;
      padding-top: 2vmin;
    }

  }

  > main 
  {
    position: relative;
   > section {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
        max-width: 960px;  
        width: 100%;
        background-color: white;
        position: absolute;
        top: -6vmin;
        padding: 0px 15px 0px 15px;

      }
  }

  
}


@media (min-width: 600px){
.App {
    > header {
      top: 0;
      
    }
    > main {
      //padding-top: 56px;
    }
  }
}

@media screen and (min-width: 960px){
  .App {

    > main {
      width: 100%;
      display: grid;
      justify-items: center;
      position: relative;
//       > section {
//         max-width: 960px;  
//         width: 100%;
//         background-color: white;
//         position: absolute;
//         top: -7.5vh;
// z-index: 11;
//         //padding: 20px 0 61px 0;
//       }
    }
  }
  
}

@media screen and (min-width: 1264px){

  
}