body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Fira Sans', sans-serif;  
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/*article a {
   color: hsl(25, 100%, 50%);
   text-decoration: none;
}

main a:hover {
   color: hsl(25, 80%, 50%);
  text-decoration: underline;
}

main a:visited {
  color: hsl(25, 100%, 40%);
}*/
