$error-color: hsl(0, 100%, 50%);
$success-color: hsl(120, 100%, 40%);

.info{
	display: block;
	padding-bottom: 20px;
	
	&-error {
		color: $error-color;
	}

	&-success {
		color: $success-color;
	}

}
