.button {
  display: inline-block;
  font-size: 13px;
  // font-family: inherit;
  background-color: hsl(270, 100%, 40%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: none;
  letter-spacing: 0.5px;
  // margin: 20px 0 20px 0;
  height: 40px;
 
  //box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
  text-transform: uppercase;

  &-round {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    padding: 5px;
  }
}

@media screen and (min-width: 600px){
  .button {
   width: 10rem;
 }
}

.linked-button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  font-family: inherit;
  background-color: hsl(270, 100%, 40%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 1px;
  padding-bottom: 20px;
  padding-top: 20px;
  letter-spacing: 0.5px;
  border-radius: 7.5px;
  //min-width: 10rem;
  box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
  text-transform: uppercase;
  margin-right: 15px;
  text-decoration: none;

  &:last-child {
    margin-right: 5px;
  }

  &:before, &:after {
   content: "\00a0 ";
  }

  &-invert {

   background-color: transparent;
   color: hsl(270, 100%, 40%);
   box-shadow: none;
   &:hover {
    color: hsl(270, 100%, 60%);
   }
  }
}