form {
	display: grid;
	width: inherit;
}

// form label {
// 	display: block;
// 	margin-bottom: 10px;
// 	font-size: 14px;
// 	letter-spacing: 0.1px;
// 	color: hsl(270, 90%, 50%);
// }

// form input:not([type="submit"]), form textarea  {
// 	display: grid;
// 	box-sizing: border-box;
// 	display: block;
// 	border: 2px solid hsl(0, 0%, 80%);
// 	font-size: 18px;
// 	font-family: inherit;
// 	width: 100%;
// }

.field {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	letter-spacing: 0.1px;
	color: hsl(270, 90%, 50%);

	&-input, &-text, &-file, &-radio{
		display: grid;
		box-sizing: border-box;
		display: block;
		border: 2px solid hsl(0, 0%, 80%);
		font-size: 16px;
		// font-family: inherit;
		width: 100%;
	}
	&-input, &-file {
		height: 44px;
	}
	&-text {
		resize: vertical
	}
	&-radio{
		&-label {
			display: block;
			margin: 16px;
			font-size: 15px;
		}
	}
	&-file {
		display: flex;

		&-button {
			display: inline-block;
		    font-size: 13px;
		    // font-family: inherit;
		    background-color: hsl(270, 100%, 40%);
		    color: white;
		  	font-weight: bold;
		    cursor: pointer;
		    text-align: center;
		    border: none;
		    letter-spacing: 0.5px;
		   // margin: 20px 0 20px 0;
		  
		   	width: 10rem;
		    //box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
		    text-transform: uppercase;
		}
	}
}
