/*form {
	display: grid;

	width: inherit;
}


form label {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	letter-spacing: 0.1px;
	color: hsl(270, 90%, 50%);
}

form input:not([type="submit"]), form textarea  {
	display: grid;
	box-sizing: border-box;
	display: block;
	border: 2px solid hsl(0, 0%, 80%);
	font-size: 15px;
	font-family: inherit;
	width: 100%;
}

form input[type="submit"]{
	box-sizing: border-box;
	font-size: 13px;
    font-family: inherit;
    border: none;
    background-color: hsl(150, 60%, 40%);
    background-color: hsl(270, 100%, 40%);
    color: white;
   	font-weight: bold;
    cursor: pointer;
    height: 44px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    width: 10rem;
    justify-self: end; 
}

form input[type="submit"]:hover {
 background-color: hsl(150, 70%, 40%);
 background-color: hsl(270, 80%, 40%);
}

form textarea {
	resize: none;
}

form input {
	height: 36px;
}

*/