

.nav {
	width: 960px;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  a {
  height: 56px;
  color: hsl(0, 0%, 90%);
  display: inline-flex;
  padding: 5px;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  min-width: 20%;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
   
    span {
      display: inline-block;
    }

    &:hover {
      //background-color: hsl(200, 100%, 20%);
      color: hsl(0, 0%, 90%);
       border-bottom: solid white 1px;
    }

    &:visited {
      color: hsl(0, 0%, 90%);
    }
  }
}

@media (max-width: 600px) {

  .nav {
    display: flex;
    width: 100%;
      a {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      &.mHide {
        display: none;
      }
      span {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.sel {
  border-bottom: solid hsl(262, 84%, 20%) 1px;
}
.selected {
  //background-color: hsl(200, 100%, 20%);
  border-bottom: solid white 3px;
}



