.article {
  //margin: 15px 0 50px 0;
  border-bottom: solid 1px hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 25%);
  // display: flex;
  // flex-direction: column;
  padding: 10vmin 0 5vmin 0;
  // max-width: 720px;
  // width: 100%;

   // border-radius: 5px;
 //box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);

  &-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    //border-bottom: 0.1px  hsl(0, 0%, 90%) solid;
  }

  &-content {
    padding-top: 15px;
    display: flex;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 5vmin;
  }

  &-showdate{
    /*border-bottom: solid 0.25px hsl(0, 0%, 90%);*/
    color: hsl(0, 0%, 70%);
    font-size: 0.8em;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    > span {
      display: inline-block;
    }
  }

 

  &-button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    font-family: inherit;
    //background-color: hsl(270, 100%, 40%);
    border: 2px solid hsl(270, 100%, 40%);
    color: hsl(270, 100%, 40%);
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
    line-height: 1px;
    padding-bottom: 15px;
    padding-top: 15px;
    letter-spacing: 0.5px;
    //border-radius: 7.5px;
    min-width: 10rem;
    //box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    text-transform: uppercase;
    margin-right: 15px;
    text-decoration: none;

    &:last-child {
      margin-right: 5px;
    }

    &:before, &:after {
     content: "\00a0 ";
    }

    // &:visited {
    //   background-color: hsl(270, 100%, 45%);
    // }

    &:hover {
      text-decoration: none;
      color: hsl(270, 100%, 60%);
      border: 2px solid hsl(270, 100%, 60%);
    }

    &-orange {
      color: hsl(35, 100%, 47%);
      border-color: hsl(35, 100%, 47%);
      // &:visited  {
      //   background-color: hsl(35, 100%, 40%);
      // }
      &:hover  {
        color: hsl(35, 100%, 60%);
        border-color: hsl(35, 100%, 60%);
      }
    }

  }

  &-image {
    padding-top: -4px;
    padding-right: 20px;
    // shape-outside: inset(100px 100px 100px 100px 10px);
    // float: left;
  }

  &-block {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    p {
      line-height: 1.8;
      font-size: 1rem;
      letter-spacing: 0.25px;
      margin: 0;
      padding-bottom: 20px;
      width: 100%;
    
    // display: flex;
    // align-items: center;
    // overflow: hidden;
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    // hyphens: auto;
    }
  }

  %icon-font-size {
    font-size:  calc(5vw + 20px);
    @media all and (max-width: 960px){
      font-size:  calc(10vw + 20px);
    }
  }

  &-js {
    color: hsl(50, 100%, 50%);
    @extend %icon-font-size;
  }

  &-php {
    color: rgb(136, 146, 191);
    @extend %icon-font-size;
  }

  &-code {
    color: hsl(150, 20%, 30%);
    @extend %icon-font-size;
  }

}
