.card {
  display: flex;
  flex-direction: column;
  //padding: 8px 0 8px 0;
  //max-height: 500px
  width: 100%;
  //max-width: 600px;
  border-bottom: 0.1px  hsl(0, 0%, 90%) solid;
 
  //padding-bottom: 5px;
 // overflow: hidden;
      

  &-image {
    //max-height: 80px;
    //max-width: 80px;
    
    // overflow: hidden;
    img, figure {
      width: 100%;
      max-height: 100%;
      padding: 0;
      margin: 0;
      //object-fit: cover;
      border-radius: 8px 8px 0 0;
      //width: 200px;
    // height: 200px;
     // max-width: 100%;
     //object-fit: cover;
    }
  }
  &-text {
    height: 100%;
    //width: 100%;
    margin: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
      

    &-header {
      width: inherit;
      margin: 0;
      padding-bottom: 5px;
      margin-bottom: 5px;
      
    }

    &-footer {
      width: inherit;
      margin: 0;
      padding-top: 5px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      
    }

    &-title {
    margin: 0;
     padding: 0;
     margin-bottom: 16px;
     color: hsl(0, 0%, 10%);
     font-weight: 200;
     font-size:1.5em;
     line-height: 1.3em;
     letter-spacing: -1px;
     
    }
    &-published {
      color: hsl(0, 0%, 50%);
      font-size: 0.8em;
    }

    &-content {
      color: hsl(0, 0%, 20%);
      //white-space: nowrap; 
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }
}
// @media only screen and (max-width: 599px) {
//   .s-hide {
//     display: none;
//   }

//   .card{
//     overflow: hidden;
//   }

// }

// @media only screen and (min-width: 600px) {
//   .m-hide {
//     display: none;
//   }
// }

@media only screen and (min-width: 960px) {
   .l-hide {
      display: none;
    }
  .card {
    //padding: 10px;
    //width: 100%;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    margin: 10px;
    border-radius: 8px;
   
    //width: calc(100% - 20px);
    // &-image {
    //   max-width: 100%;
    //   max-height: 350px;
      
    //   > img {
    //   max-width: 100%;
    //   max-height: 100%;
    //   object-fit: fill;
    // }

    // }
    // &-text {
    //   margin-left: 15px;
    //   margin: 0;
    //   margin-top: 10px;
    //   &-header {
    //     //border-bottom: 0.1px  hsl(0, 0%, 90%) solid;
    //   }
    //   &-title {
    //     line-height: initial;
    //     font-size: 1.7em;
    //   }
    //   &-content {
    //     line-height: 1.5;
    //     padding-bottom: 15px;
    //     width: 100%;
    //     overflow: initial;
    //     white-space: initial; 
    //     text-overflow:initial;
    //   }
    // }
  }
}