.projects {
	display: grid;
}
.project {
	display: grid;
	grid-template-rows: auto;
	position: relative;
}

// .project {
// 	&-form {
// 		display: flex;
// 		flex-direction: column;
// 		> :last-child {
// 			align-self: flex-end;
// 			border-radius: 7.5px
// 		}
// 	}

// }

@media screen and (min-width: 600px){
	.project {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 960px){
	.projects {
		
		//width: 960px;
	max-width: 960px;
		position: relative;
		margin-top: 16px;
	}

	.project {
		//display: flex;

		// justify-content: space-evenly;
		//max-width: 960px;
		//position: absolute;
		// width: 100%;
		
		
		// bottom: 0;
		//overflow-x: hidden;

		
		
		grid-template-columns: 1fr 1fr 1fr;
		
		
		
		//display: grid;
		//width: calc(100% - 30px);
		// box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
		// margin: 10px;
		// &-text {
		// 	margin: 0;
		// 	margin-top: 10px;
		// }

	// 	&-image {
	// 		//flex-direction: column;
	// 		// max-width: 500px;
	// 		// max-height: 500px;
	// 		// box-sizing: border-box;
			
	// 		// margin: 0;
	// 		// padding: 10px;
	// 		// padding-top: 20px;
	// 		display: flex;
	// 		place-items: center;
			
	// 		//position: absolute;
	// 		transform: translateX(-200px);
	// 		width:100%; 
			
	// 		max-height: 300px;
	// 	max-width: 300px;

			
	// 	 > img {
	// 	 	width: 200px;
	// 	 	height: 200px;
	// 	 	// max-width: 100%;
	// 		object-fit: cover;
	// 	}
		
	// }
	> * {
		 width: calc((960px / 3) - 30px);
	}
	}
}

