.loader {
	color: hsl(200, 20%, 30%);
	animation: loading linear 1.5s infinite;
	
}
@keyframes loading {
	from {
		transform: rotate(0deg);
	} 
	to {
		transform: rotate(360deg);
	}
}

.flexloading {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
